/* global.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Personalizzazioni o stili globali */

body {
	margin: 0;
}

.div-primary {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;
}

p {
	text-align: center;
}

li {
	list-style-type: none;
}

.error-message {
	color: red; /* Colore del testo rosso */
	font-weight: bold; /* Testo in grassetto */
	text-align: center; /* Allineamento al centro */
	margin-top: 10px; /* Margine superiore di 10px */
}
